.map_place{
    width: 100%;
}

.map_place img{
  width: 100%;
}

article p{
    line-height: 2em;
}

.hamburger:after{
  position: absolute;
  content: "menu";
    color: white;
    font-size: 20px;
    left: 12px;
}

.hamburger__icon:after {
    top: 10px;
}

.hamburger__icon:before {
    top: -10px;
}