html, body{
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face{
  font-family: "garamond";
  src: url("../fonts/AGaramond-Regular.otf");
}

header{
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  position: relative;
}

header img{
  width: 100%;
}

.img-hover{
  position: absolute;
  top: 0;
  left: 0;
}

.hamburger:after{
  position: absolute;
  content: "menu";
    color: white;
    font-size: 20px;
    left: 12px;
}

.hamburger__icon:after {
    top: 10px;
}

.hamburger__icon:before {
    top: -10px;
}

.hamburger__icon, .hamburger__icon:after, .hamburger__icon:before{
  width: 50px;
}

.hamburger{
  left: 95%;
  top: 5%;
}

main{
  padding: 72px 0;
}

.hamburger .hamburger__icon,
.hamburger .hamburger__icon:before,
.hamburger .hamburger__icon:after {
    background-color: white;
}

.logo{
  width: 40%;
  font-size: 48px;
  padding: 32px 0 0 1em;
  margin-bottom: 64px;
}

.logo a{
  color: white;
  font-family: "garamond";
}

.pagename{
  font-size: 48px;
  padding: 32px 0 0 3em;
  color: white;
}

.pagename span{
  text-shadow: 0 2px 3px #000;
}

.contact{
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-indent: 2em;
  background-color: #666666;
  color: white;
  line-height: 1.5em;
}

.contact_content{
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
}

footer .form_outer{
  color: white;
  width: 100%;
  background-image: url(/static/imgs/GazeBurt-Newsletter-sign-up-background.jpg);
  background-size: 100% 100%;
}

.form_outer h2{
  font-size:48px;
  font-weight: 600;
  line-height: 45px;
}

.form_outer p{
  font-size:44px;
  line-height: 45px;
  margin-bottom: 24px;
  font-weight: 200;
}

.form_outer p:last-child{
  font-size:17px;
  line-height: 1em;
  margin-bottom: 0;
}

.form_outer .user_form{
  width: 80%;
  margin: 0 auto;
}
.user_form_left{
  width: 30%;
  text-align: justify;
}
form{
  margin-left: 10%;
  width: 50%;
}
.user_form_left, form{
  display: inline-block;
  vertical-align: top;
}
.user_form{
  padding: 3% 0;
}
form .field .label{
  font-size: 0;
}


@media screen and (max-width: 1050px){
  main{
    width: 80%;
  }
  .hamburger {
    left: 90%;
    top: 5%;
  }
  header img {
    height: 20vh;
  }
  .logo {
    font-size: 24px;
    padding: 12px 0 0 1em;
    margin-bottom: 12px;
  }
  .pagename {
    font-size: 26px;
    padding: 12px 0 0 1em;
  }
  .user_form_left {
    display: none;
  }
  form {

    width: 80%;
  }
}


.hamburger:after{
  position: absolute;
  content: "menu";
    color: white;
    font-size: 20px;
    left: 12px;
}

.hamburger__icon:after {
    top: 10px;
}

.hamburger__icon:before {
    top: -10px;
}