main .card_place{
  width: 100%;
  border-bottom: 1px solid #e6e3dc;
  margin-bottom: 32px;
  padding-bottom: 32px;
}

main{
    text-align: center;
}

.card{
  margin: 20px 0;
}

.culture_card .australia_card{
  background: url('/static/imgs/australia_index.jpeg');
  background-size: 100% 100%;
}

.culture_card .newzeland_card{
  background: url('/static/imgs/newzeland_index.jpeg');
  background-size: 100% 100%;
}

.culture_card .canada_card{
  background: url('/static/imgs/canada_index.jpeg');
  background-size: 100% 100%;
}

.card{
  width: 100%;
  height: 180px;
}

.card_outer{
  margin-right: 48px;
}

.card_place .card_outer:last-child{
  margin-right: 0;
}

.card_cover{
  height: 100%;
}

.card_title{
  font-size: 32px;
}