.photo-place{
}
.tile.is-child{
    position: relative;
    margin-left: 40px;
}
.tile.is-child:first-child{
    margin-left: 0;
}

img{
}

.tile.is-child .hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 98%;
    display: none;
    font-size: 32px;
    color: white;
    text-align: center;
    line-height: 98%;
}

.hover span{
    line-height: 9;
}

.tile.is-child:hover .hover{
    display: block;
}

.gray-p{
    background-color: #dfdfdf;
    color: #736330;
    padding: 10px;
}

.info .name{
    font-size: 18px;
}

li img{
    display: inline-block;
    width: 1em;
    margin-right: 1em;
    vertical-align: text-top;
}

li a{
    vertical-align: text-bottom;
}

.job{
    text-indent: 36px;
    font-size: 14px;
    color:#737E86;
}