.photo-place{
    margin-top: 72px;
    width: 80%;
}
.tile.is-child{
    position: relative;
    margin-left: 40px;
}
.tile.is-child:first-child{
    margin-left: 0;
}

img{
}

.tile.is-child .hover{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 98%;
    opacity: 0.8;
    display: none;
    font-size: ;
}

.tile.is-child:hover .hover{
    display: block;
}

