main p, main span {
    text-align: center !important;
}

.immi_place{
    display: block;
    width: 60%;
    margin: 0 auto;
}

.immi_title{
    font-size: 20px;
    font-weight: 600;
}

.immi_card{
    margin: 0 auto;
    max-width: 45%;
    background-color: black;
    border-radius: 3px;
    color: white;
    padding: 1em;
    font-family: "Microsoft YaHei";
}

.immi_card ul li{
    font-size: 14px;
    line-height: 28px;
    list-style: circle;
}

.immi_card ul {
    padding-left: 1em;
}

@media screen and (max-width: 1050px) {
    .immi_place {
        width: 100%;
    }
    .immi_card{
        max-width: 80%;
        margin-bottom: 10px;
    }
}
