/*main p, main span {*/
    /*text-align: center !important;*/
/*}*/

article{
    font-family: 微软雅黑, "Arial Narrow", HELVETICA;
    font-size: 16px;
}

article .panel-block{
    line-height: 36px;
}

.panel:not(:last-child){
    margin-bottom: 5px;
}

.panel-heading a{
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.panel-heading a:hover{
    color: #d0111b;
}

.panel-block{
    overflow: hidden;
}

.control{
        text-align: justify;
}

.immi_place{
    display: block;
    width: 70%;
    margin: 0 auto;
}

.immi_title{
    font-size: 20px;
    font-weight: 600;
}

.immi_card{
    margin: 0 auto;
    max-width: 45%;
    background-color: #282828;
    border-radius: 3px;
    color: white;
    padding: 1em;
    font-family: "Microsoft YaHei";
}

.immi_card ul li{
    font-size: 14px;
    line-height: 28px;
    list-style: disc outside;
}

.immi_card ul {
    padding-left: 1em;
}

@media screen and (max-width: 1050px) {
    .immi_place {
        width: 100%;
    }
    .immi_card{
        max-width: 80%;
        margin-bottom: 10px;
    }
}


.red_span{
    font-weight: 600;
    color: red;
}

.condition, .advantage{
    padding-left: 2em;
}