html, body{
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face{
  font-family: "garamond";
  src: url("/static/fonts/AGaramond-Regular.otf");
}

header{
  width: 100%;
}

header .header_outer{
  width: 100%;
  height: 100vh;
  position: relative;
}

.video_descript{
  margin-top: 52px;
  max-width: 41%;
}

h2{
	font-size: 150%;
}

.hamburger:after{
  position: absolute;
  content: "menu";
    color: white;
    font-size: 20px;
    left: 12px;
}

.hamburger__icon:after {
    top: 10px;
}

.hamburger__icon:before {
    top: -10px;
}

.hamburger__icon, .hamburger__icon:after, .hamburger__icon:before{
  width: 50px;
}

.hamburger.active .hamburger__icon:after {
    -moz-transform: translateY(-10px)rotate(-45deg);
    -ms-transform: translateY(-10px)rotate(-45deg);
    -webkit-transform: translateY(-10px)rotate(-45deg);
    transform: translateY(-10px)rotate(-45deg);
}

.video_descript p {
  text-indent: 2em;
}

.header_outer .header_background{
  width: 100%;
  height: 100%;
}

.about_card .card_desc a{
	display: none;
}

.culture_card .card_desc p, .guide_card .card_desc p {
  display: none;
}

.cover_end{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.cover_end .cover_end_first{
  display: inline-block;
  width: 40%;
  height: 100%;
  background-color: #180F0A;
  opacity: 0.6;
}

.cover_end .cover_end_second{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 45vh solid #180F0A;
  border-bottom: 50vh solid #180F0A;
  border-top: 50vh solid transparent;
  border-right: 45vh solid transparent;
  opacity: 0.6;
}

.cover_front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.cover_front .cover_front_first{
  display: inline-block;
  width: 37%;
  height: 100%;
  background-color: #180F0A;
}

.cover_front .cover_front_second{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 42vh solid #180F0A;
  border-bottom: 50vh solid #180F0A;
  border-top: 50vh solid transparent;
  border-right: 42vh solid transparent;
}

.cover_front .cover_front_third{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover_front .logo{
  width: 40%;
  font-size: 48px;
  padding: 32px 0 0 1em;
  margin-bottom: 128px;
}

.cover_front .logo a{
  color: white;
  font-family: "garamond";
  display: inline-block;
  text-align: right;
  line-height: 0.5em;
}

.cover_front .logo a span{
  font-size: 40px;
}

.cover_front .logo a small{
  font-size: 18px;
}

#my-video{
  width: 41%;
  max-height: 35vh;
  margin-top: 32px;
  margin-left: 48px;
}


.cover_front .cover_front_third .video_descript{
  font-size: 18px;
  padding-left: 48px;
  padding-top: 5vh;
  color: white;
  font-family: "Microsoft YaHei";
}

::-webkit-scrollbar{
display:none;
}

.hamburger .hamburger__icon,
.hamburger .hamburger__icon:before,
.hamburger .hamburger__icon:after {
    background-color: white;
}

main{
  margin-top: 32px !important;
  text-align: center;
}

main .card_place{
  width: 100%;
  border-bottom: 1px solid #e6e3dc;
  margin-bottom: 32px;
  padding-bottom: 32px !important;
}

.mycard{
  margin: 20px 0;
}


/*
.about_card .australia_card:before{
  content: "";
  background: url('/static/imgs/australia-before.jpg.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
}

.about_card .newzeland_card:before{
  content: "";
  background: url('/static/imgs/newzeland_before.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
  width: 50px;
  height: 30px;
}

.about_card .canada_card:before{
  content: "";
  background: url('/static/imgs/canada-before.png') no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
}
	*/

/*.australia_card:after{
  content: "澳大利亚";
  position: absolute;
  min-width: 5em;
  z-index: 100;
  top: 12.5px;
  left: 40px;
  color: white;
}

.newzeland_card:after{
  content: "新西兰";
  position: absolute;
  min-width: 5em;
  z-index: 100;
  top: 12.5px;
  left: 40px;
  color: white;
}


.canada_card:after{
  content: "加拿大";
  position: absolute;
  min-width: 5em;
  z-index: 100;
  top: 12.5px;
  left: 40px;
  color: white;
}*/


/*.about_card .australia_card{*/
  /*background: url('/static/imgs/australia.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.about_card .newzeland_card{*/
  /*background: url('/static/imgs/newzeland.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.about_card .canada_card{*/
  /*background: url('/static/imgs/canada.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.culture_card .australia_card{*/
  /*background: url('/static/imgs/australia_culture.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.culture_card .newzeland_card{*/
  /*background: url('/static/imgs/newzeland_culture.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.culture_card .canada_card{*/
  /*background: url('/static/imgs/canada_culture.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.guide_card .australia_card{*/
  /*background: url('/static/imgs/australia_guide.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.guide_card .newzeland_card{*/
  /*background: url('/static/imgs/newzeland_guide.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

/*.guide_card .canada_card{*/
  /*background: url('/static/imgs/canada_guide.jpg');*/
  /*background-size: 100% 100%;*/
/*}*/

.mycard{
  position: relative;
  width: 100%;
  display: block;
}

.card_outer{
  margin-right: 48px;
}

.card_place .card_outer:last-child{
  margin-right: 0;
}

.card_cover{
  height: 100%;
}

.card_title{
  font-size: 32px;
}

.map_place img{
  width: 100%;
}

.contact{
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-indent: 2em;
  background-color: #180F0A;
  color: white;
  line-height: 1.5em;
}

.contact_content{
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
}

footer .form_outer{
  color: white;
  width: 100%;
  background-image: url(/static/imgs/GazeBurt-Newsletter-sign-up-background.jpg);
  background-size: 100% 100%;
}

.form_outer h2{
      font-size: 48px;
    font-weight: 700;
    line-height: 120px;
}

.form_outer p{
  font-size: 44px;
    line-height: 45px;
    margin-bottom: 24px;
    font-weight: 400;
}

.form_outer p:last-child{
	padding-top: 4em;
  font-size: 22px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0;
}



.form_outer .user_form{
  width: 80%;
  margin: 0 auto;
}


.user_form_left{
  width: 350px;
  text-align: justify;
}
form{
  margin-left: 10%;
  width: 50%;
}
.user_form_left, form{
  display: inline-block;
  vertical-align: top;
}
.user_form{
  padding: 3% 0;
}
form .field .label{
  font-size: 0;
}

.hamburger{
  left: 90%;
  top: 5%;
}

@media screen and (max-width: 1600px){
  .cover_end .cover_end_second{
    border-left: 40vh solid #180F0A;
    border-bottom: 50vh solid #180F0A;
    border-top: 50vh solid transparent;
    border-right: 40vh solid transparent;
  }
  .cover_front .cover_front_second{
    border-left: 37vh solid #180F0A;
    border-bottom: 50vh solid #180F0A;
    border-top: 50vh solid transparent;
    border-right: 37vh solid transparent;
  }
  .video_descript{
  margin-top: 42px;
  max-width: 41%;
  }
}

@media screen and (max-width: 1450px){
  .cover_end .cover_end_second{
    border-left: 35vh solid #180F0A;
    border-bottom: 50vh solid #180F0A;
    border-top: 50vh solid transparent;
    border-right: 35vh solid transparent;
  }
  .cover_front .cover_front_second{
    border-left: 32vh solid #180F0A;
    border-bottom: 50vh solid #180F0A;
    border-top: 50vh solid transparent;
    border-right: 32vh solid transparent;
  }
  .video_descript{
  margin-top: 32px;
  max-width: 41%;
}
}


@media screen and (max-width: 1250px){
  .cover_end .cover_end_second{
    border-left: 30vh solid #180F0A;
    border-bottom: 50vh solid #180F0A;
    border-top: 50vh solid transparent;
    border-right: 30vh solid transparent;
  }
  .cover_front .cover_front_second{
    border-left: 27vh solid #180F0A;
    border-bottom: 50vh solid #180F0A;
    border-top: 50vh solid transparent;
    border-right: 27vh solid transparent;
  }
  .video_descript{
  margin-top: 22px;
  max-width: 41%;
}
}

@media screen and (max-width: 1050px){
  .cover_end .cover_end_second{
    border-left: 12.5vh solid #180F0A;
    border-bottom: 20vh solid #180F0A;
    border-top: 20vh solid transparent;
    border-right: 12.5vh solid transparent;
  }
  .cover_front .cover_front_second{
    border-left: 11vh solid #180F0A;
    border-bottom: 20vh solid #180F0A;
    border-top: 20vh solid transparent;
    border-right: 11vh solid transparent;
  }

  header .header_outer{
    height: 40vh;
  }

  .cover_end .cover_end_first{
    height: 40vh;
  }

  .cover_front{
    height: 40vh;
  }

  .cover_front .cover_front_first{
    height: 40vh;
  }
  .cover_front .cover_front_third{
    height: 40vh;
  }
  .cover_end{
    height: 40vh;
  }
  .cover_front .logo{
    font-size: 16px;
    padding: 1em 0 0 1em;
    margin-bottom: 1em;
  }

  #my-video{
    max-height: 15vh;
    margin-left: 20px;
  }
  .card_outer {
    margin: 0 auto;
  }
  .cover_front .cover_front_third .video_descript {
    display: none;
  }
  .hamburger {
    left: 80%;
    top: 2%;
  }
  .user_form_left {
    display: none;
  }
  form {
    width: 80%;
  }
  .mycard{
	  min-width: 0;
	  min-height: 0;
  }
  .cover_front .logo a{
    line-height:1;
  }
  .cover_front .logo a span {
    font-size: 16px;
  }
  .cover_front .logo a small {
    font-size: 10px;
  }
}

