{% extends 'base.html' %}
{% block title %}关于我们{% endblock %}
{% block image %}about.jpeg{% endblock %}
{% block pagename %}关于我们{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/map.css">
{% endblock %}

{% block main %}
    <article>
        <h4><strong>新景（深圳）因私出入境服务有限公司介绍</strong></h4>
        <br>
        <p>
新景（深圳）因私出入境服务有限公司，是一家专业从事移民咨询服务的跨国公司。我们拥有专业的澳洲、新西兰、加拿大移民持牌顾问和注册律师团队。

主流、高性价比的移民项目咨询，13年成熟的移民咨询、操作经验，提供专业且完整的服务，协助客户实现海外梦想！公司总部设在奥克兰，并在加拿大、澳大利亚、新西兰、中国等主要城市设有多处接待中心，可随时为不同地域国家的客户提供全球化优质服务。
    </p>
    </article>
    <div class="map_place">
        <img src="/static/imgs/map.png">
          <div class="point_wrap">
		  <div class="map_point" id="shenzhen_point">
			                  <div class="pulse"></div>
					                  <div class="pulse1"></div>
							                </div>
									              <div class="map_point" id="xiamen_point">
											                      <div class="pulse"></div>
													                      <div class="pulse1"></div>
															                    </div>
																	                  <div class="map_point" id="wuxi_point">
																				                   <div class="pulse"></div>
																						                    <div class="pulse1"></div>
																								                  </div>
																										                <div class="map_point" id="chengdu_point">
																													                 <div class="pulse"></div>
																															                  <div class="pulse1"></div>
																																	                </div>
																																			              <div class="map_point" id="beijing_point">
																																					                       <div class="pulse"></div>
																																							                        <div class="pulse1"></div>
																																										              </div>
																																											                    <div class="map_point" id="langfang_point">
																																														                     <div class="pulse"></div>
																																																                      <div class="pulse1"></div>
																																																		                    </div>
																																																				                  <div class="map_point" id="taiyuan_point">
																																																							                   <div class="pulse"></div>
																																																									                    <div class="pulse1"></div>
																																																											                  </div>
																																																													                <div class="map_point" id="qingdao_point">
																																																																                 <div class="pulse"></div>
																																																																		                  <div class="pulse1"></div>
																																																																				                </div>
																																																																						              <div class="map_point" id="moerben_point">
																																																																								                       <div class="pulse"></div>
																																																																										                        <div class="pulse1"></div>
																																																																													              </div>
																																																																														                    <div class="map_point" id="xini_point">
																																																																																	                     <div class="pulse"></div>
																																																																																			                      <div class="pulse1"></div>
																																																																																					                    </div>
																																																																																							                  <div class="map_point" id="aokelan_point">
																																																																																										                   <div class="pulse"></div>
																																																																																												                    <div class="pulse1"></div>
																																																																																														                  </div>
																																																																																																                <div class="map_point" id="duolunduo_point">
																																																																																																			                 <div class="pulse"></div>
																																																																																																					                  <div class="pulse1"></div>
																																																																																																							                </div>
          </div>
      </div>
{% endblock %}
