{% extends 'base.html' %}
{% block title %}澳大利亚项目知悉{% endblock %}
{% block pagename %}澳大利亚项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">澳大利亚雇主担保移民项目咨询</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                 澳大利亚雇主担保移民是澳洲雇主担保类技术移民项目，是面向澳大利亚境外技术人员或者在澳大利亚居住并工作有技能的永久性雇主担保项目。<br><br>
                    <div class="immi_place is-parent tile">
        <div class="immi_card is-child tile">
            <label class="immi_title">申请条件 ：</label>
            <ul>
                <li>本科以上学历</li>
                <li>年龄小于45周岁</li>
                <li>身体健康、无犯罪记录</li>
                <li>符合CSOL职业列表</li>
                <li>雅思G类6分</li>
                <li>三年以上相关工作经验</li>
            </ul>
        </div>
        <div class="immi_card is-child tile">
            <label class="immi_title">项目优势：</label>
            <ul>
                <li>一步到位在国内即可获得永居（PR）</li>
                <li>可以和澳洲当地居民享有同样的社会福利</li>
                <li>无需申请人在国内的商业背景，只需正常工作经历</li>
                <li>申请资料简单，免面试</li>
                <li>成功率极高</li>
            </ul>
        </div>
    </div>
            </div>

          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}