{% extends 'base.html' %}
{% block title %}澳大利亚项目知悉{% endblock %}
{% block pagename %}澳大利亚项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">澳大利亚雇主担保移民项目咨询</a>
          </p>
          <div class="panel-block">
            <p class="control">
                 澳大利亚雇主担保移民是澳洲雇主担保类技术移民项目，是面向澳大利亚境外技术人员或者在澳大利亚居住并工作有技能的永久性雇主担保项目。<br><br>

项目优势：<br>
&nbsp;&nbsp;&nbsp;&nbsp;★无需审查国内资金来源，收入来源，资产来源；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★全家获签入境，包括配偶及未独立在读子女。<br><br>

具体详情，请致电400 6197935，或给我们留言，我们会尽快回复您。
            </p>
          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}