{% extends 'base.html' %}
{% block title %}加拿大项目知悉{% endblock %}
{% block pagename %}加拿大项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大雇主担保移民</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                 作为经济类移民的一种，加拿大雇主担保移民从全世界选拔合适的技术工人或者优秀的留学生，这些人将会在加拿大从事全职持续的工作，为加拿大经济做出贡献。移民官根据申请人的条件和评分来审核申请，对那些有很大潜力在加拿大立足的人，会被优先选拔：
                <br>
                <div class="condition">
                1、想要通过加拿大雇主担保移民成功移民到加拿大需要在加拿大合法工作身份；
                    <br>
                 2、在加拿大合法工作必须要Work Permit；
                    <br>
                 3、外国人获得合法的Work Permit，需要加拿大劳动局（HRSDC）的承认书LMIA；
                    <br>
                 4、为了获得LMIA雇主需要通过在当地发布招聘广告等方式给海外人士一份就业机会，同时客户也需要认证相关的专业度、语言等能力；
                    <br>
                    5、配偶可获得同伴签证可以工作，子女获得学习签证可享受加拿大18岁以下公立学校免学费政策；
                    <br>
                    6、就业许可（Work Permit）后可以获得子女的教育、医疗等福利。
                </div>
                <br>

                <span class="red_span">申请条件：</span>
                <br>
                <div class="condition">
1.	有加拿大雇主担保提名职业
                    <br>
2.	语言：高级职业 - CLB5（雅思：5，5，5，4）；中级职业 - CLB4（雅思：4.5，4，3.5，4）
                    <br>
3.	5年以上的工作经验（无需税、医社保等）
                    <br>
4.	大专以上的学历
                    <br>
5.	无犯罪记录证明
                    <br>
6.	体检通过
                    </div>
                <br>
<span class="red_span">项目优势：</span>
                <br>
    <div class="advantage">
  1. 加拿大本地持牌顾问及律师操作；
        <br>
  2. 真实工作；
        <br>
  3. 无需审查国内资金来源，收入来源，资产来源；
        <br>
  4. 全家获签入境，包括配偶及未独立在读子女。
</div>
            </div>
          </div>
        </nav>

        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大商业移民</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                  加拿大商业移民其实包含比较广泛，包括投资移民，企业家移民和自雇移民三类，每一类移民都有相对独立的政策和审核标准，每一个省都有自己的商业移民政策。商业移民项目要求低，只要达到最低的投资成本，能够为该省增加就业机会及促进该省经济发展的即可，最快2年即可登陆加国，获批永居签证。
                <br>
<span class="red_span">项目优势：</span>
                <br>
                <div class="advantage">
1. 无教育背景及学历要求
                    <br>
2. 资产要求低
                    <br>
3. 投资资金少
                    <br>
4. 自主式投资
                    </div>
            </div>
          </div>
        </nav>

    <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大商业移民</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                  根据加拿大的移民国策及移民法，加拿大政府欢迎世界各国的成功商人移民加拿大，促进加拿大经济、艺术及文化体育的发展，活跃加拿大本国经济。因此设立了加拿大投资移民项目。它的特点是投资移民申请人通过投资加拿大政府担保的基金，由加拿大政府指定的专业基金公司，代替投资移民申请人管理并视为完成投资，从而获得投资移民申请人全家的永久移民签证。投资者无需自己在加拿大创业，从而避免了企业移民计划的风险。
                <br>
<span class="red_span">项目优势：</span>
                <br>
                <div class="advantage">
1. 操作便捷：无需商业计划书，无需创办企业，无任何附加条件；
                    <br>
2. 投资安全可靠无风险：审核通过后才需要投资，且投资均有加拿大政府监管；
                    <br>
3. 门槛较低：对申请人年龄、学历、语言无过高要求。
                </div>
            </div>
          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}