{% extends 'base.html' %}
{% block title %}加拿大项目知悉{% endblock %}
{% block pagename %}加拿大项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大雇主担保移民项目咨询</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                 加拿大雇主担保移民项目，是由加拿大的雇主向相关政府部门提出申请，担保其雇员获得永居身份的一种移民方式。<br><br>
                <div class="immi_place is-parent tile">
        <div class="immi_card is-child tile">
            <label class="immi_title">申请条件：</label>
            <ul>
                <li>有加拿大雇主担保提名职业</li>
                <li>语言：高级职业 - CLB5（雅思：5，5，5，4）；中级职业 - CLB4（雅思：4.5，4，3.5，4）</li>
                <li>5年以上的工作经验（无需税、医社保等）</li>
                <li>大专以上的学历</li>
                <li>无犯罪记录证明</li>
                <li>体检通过</li>
            </ul>
        </div>
        <div class="immi_card is-child tile">
            <label class="immi_title">项目优势：</label>
            <ul>
                <li>加拿大本地持牌顾问及律师操作；</li>
                <li>真实工作；</li>
                <li>无需审查国内资金来源，收入来源，资产来源；</li>
                <li>全家获签入境，包括配偶及未独立在读子女；</li>
            </ul>
        </div>

    </div>
            </div>
          </div>
        </nav>

        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大投资移民项目咨询</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                  加拿大投资移民是申请者通过投资取得永居身份的一种移民方式。申请人须将资金投资到加拿大，以促进当地的经济发展、增加就业机会。<br><br>

<div class="immi_place is-parent tile">
        <div class="immi_card is-child tile">
            <label class="immi_title">项目优势：</label>
            <ul>
                <li>操作便捷：无需商业计划书，无需创办企业，无任何附加条件；</li>
                <li>投资安全可靠无风险：审核通过后才需要投资，且投资均有加拿大政府监管；</li>
                <li>门槛较低：对申请人年龄、学历、语言无过高要求；</li>
            </ul>
        </div>
    </div>
            </div>
          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}