{% extends 'base.html' %}
{% block title %}加拿大项目知悉{% endblock %}
{% block pagename %}加拿大项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大雇主担保移民项目咨询</a>
          </p>
          <div class="panel-block">
            <p class="control">
                 加拿大雇主担保移民项目，是由加拿大的雇主向相关政府部门提出申请，担保其雇员获得永居身份的一种移民方式。<br><br>

项目优势：<br>
&nbsp;&nbsp;&nbsp;&nbsp;★持牌律师操作；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★真实工作；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★无需审查国内资金来源，收入来源，资产来源；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★全家获签入境，包括配偶及未独立在读子女。<br><br>

详情咨询，请致电400 6197935，或给我们留言，我们会尽快回复您。
            </p>
          </div>
        </nav>

        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">加拿大投资移民项目咨询</a>
          </p>
          <div class="panel-block">
            <p class="control">
                  加拿大投资移民是申请者通过投资取得永居身份的一种移民方式。申请人须将资金投资到加拿大，以促进当地的经济发展、增加就业机会。<br><br>

项目优势：<br>
&nbsp;&nbsp;&nbsp;&nbsp;★操作便捷：无需商业计划书，无需创办企业，无任何附加条件；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★投资安全可靠无风险：审核通过后才需要投资，且投资均有加拿大政府监管；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★门槛较低：对申请人年龄、学历、语言无过高要求。<br><br>

详情咨询，请致电400 6197935，或给我们留言，我们会尽快回复您。
            </p>
          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}