{% extends 'base.html' %}
{% block title %}联系方式{% endblock %}
{% block pagename %}联系方式{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/map.css">
{% endblock %}
{% block main %}
    {% autoescape off %}
        {{ art.content }}
    {% endautoescape %}
    <div class="map_place">
        <img src="/static/imgs/map.jpg">
          <div class="point_wrap">
              <div class="map_point" id="shenzhen_point">
                <div class="pulse"></div>
                <div class="pulse1"></div>
              </div>
              <div class="map_point" id="xiamen_point">
		<div class="pulse"></div>
		<div class="pulse1"></div>
              </div>
	      <div class="map_point" id="wuxi_point">
		 <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="chengdu_point">
		 <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="beijing_point">
	      	 <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="langfang_point">
		 <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="taiyuan_point">
	         <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="qingdao_point">
	         <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="moerben_point">
	         <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="xini_point">
	         <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="aokelan_point">
		 <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
	      <div class="map_point" id="duolunduo_point">
		 <div class="pulse"></div>
		 <div class="pulse1"></div>
	      </div>
          </div>
      </div>
{% endblock %}
