{% extends 'base.html' %}
{% block title %}咨询专家{% endblock %}
{% block image %}people.jpeg{% endblock %}
{% block pagename %}咨询专家{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/expert.css">
{% endblock %}
{% block main %}
    <div class="tile is-ancestor is-vertical">
        <div class="tile is-parent photo-place">
            <div class="tile is-child">
                <a href="#detail-1">
                    <div class="hover animated fadeIn wow">
                        <span>
                            Cici
                        </span>
                    </div>
                    <img src="/static/imgs/r1.jpg" alt="">
                </a>
            </div>

            <div class="tile is-child">
                <a href="#detail-2">
                <div class="hover animated fadeIn wow">
                    <span>
                        Elva
                    </span>
                </div>
                <img src="/static/imgs/r2.jpg" alt="">
                    </a>
            </div>

            <div class="tile is-child">
                <a href="#detail-3">
                <div class="hover animated fadeIn wow">
                    <span>
                        Mcqueen
                    </span>
                </div>
                <img src="/static/imgs/r3.jpg" alt="">
                    </a>
            </div>

            <div class="tile is-child">
                <a href="#detail-4">
                <div class="hover animated fadeIn wow">
                    <span>
                        Steven
                    </span>
                </div>
                <img src="/static/imgs/r4.jpg" alt="">
                    </a>
            </div>

            <div class="tile is-child">
                <a href="#detail-5">
                <div class="hover animated fadeIn wow">
                    <span>
                        Jason
                    </span>
                </div>
                <img src="/static/imgs/r5.jpg" alt="">
                    </a>
            </div>

            <div class="tile is-child">
                <a href="#detail-6">
                <div class="hover animated fadeIn wow">
                    <span>
                        Brent
                    </span>
                </div>
                <img src="/static/imgs/r7.jpg" alt="">
                    </a>
            </div>
        </div>

        <div class="tile is-parent detail-place" id="detail-1">
            <div class="tile is-child">
                <img src="/static/imgs/r1.jpg" alt="">
                <div class="info">
                    <p class="name">Cici</p>
                    <ul class="contact-info">
                        <li>
                            <img src="/static/imgs/mail.png" alt="">
                            <a href="mailto:newsight@newsightgreaterchina.com">newsight@newsightgreaterchina.com</a>
                        </li>
                        <li>
                            <img src="/static/imgs/cc-phone-handset.png">
                            <a href="tel:4006197935">Mobile 400 619 7935</a>
                        </li>
                    </ul>
                    <p class="job">新景•大中华区•法案部经理</p>
                </div>
            </div>
            <div class="tile is-child">
                <p>
                    澳大利亚阿德雷德大学，市场营销专业学士；
                    曾就职于国际某时尚杂志、SECOO；
                    6年高级移民法案咨询从业经验，擅长澳、新、加、美疑难移民案例咨询。
                </p>
            </div>
            <div class="tile is-child">
                <p class="gray-p">
                    Cici
Act Department Manager
Bachelor degree of marketing, University of Adelaide, Australia.
Used to work for Colorful space and SECOO.
6 years advanced immigration bill consulting experience, good at Australia, New Zealand, Canada, the United States difficult immigration case consultation.
                </p>
            </div>
        </div>

        <div class="tile is-parent detail-place" id="detail-2">
            <div class="tile is-child">
                <img src="/static/imgs/r2.jpg" alt="">
                <div class="info">
                    <p class="name">Cici</p>
                    <ul class="contact-info">
                        <li>
                            <img src="/static/imgs/mail.png" alt="">
                            <a href="mailto:newsight@newsightgreaterchina.com">newsight@newsightgreaterchina.com</a>
                        </li>
                        <li>
                            <img src="/static/imgs/cc-phone-handset.png">
                            <a href="tel:4006197935">Mobile 400 619 7935</a>
                        </li>
                    </ul>
                    <p class="job">新景•大中华区•法案部经理</p>
                </div>
            </div>
            <div class="tile is-child">
                <p>
                    英国谢菲尔德大学酒店管理、税法管理双专业学士；
曾就职于Sierra Coffee 、 ANZ；
7年海外税法、移民法案高级咨询顾问经验，擅长澳大利亚、新西兰疑难移民咨询案例。
                </p>
            </div>
            <div class="tile is-child">
                <p>
                    Elva
Executive General Manager
Bachelor degree of hotel management and tax law management, the University of Sheffield , UK.
Used to work for Sierra Coffee and ANZ.
7 years overseas tax law, immigration law senior consultant experience, good at Australia, New Zealand difficult immigrant consultation case.
                </p>
            </div>
        </div>

        <div class="tile is-parent detail-place" id="detail-3">
            <div class="tile is-child">
                <img src="/static/imgs/r3.jpg" alt="">
                <div class="info">
                    <p class="name">Cici</p>
                    <ul class="contact-info">
                        <li>
                            <img src="/static/imgs/mail.png" alt="">
                            <a href="mailto:newsight@newsightgreaterchina.com">newsight@newsightgreaterchina.com</a>
                        </li>
                        <li>
                            <img src="/static/imgs/cc-phone-handset.png">
                            <a href="tel:4006197935">Mobile 400 619 7935</a>
                        </li>
                    </ul>
                    <p class="job">新景•大中华区•法案部经理</p>
                </div>
            </div>
            <div class="tile is-child">
                <p>
                    首都经贸大学旅游管理专业学士；
新加坡南洋理工大学MBA；
曾就职于DHL、Microsoft；
6年高级移民法案咨询从业经验，擅长澳大利亚、新西兰疑难案例咨询。
                </p>
            </div>
            <div class="tile is-child">
                <p>
                    Mcqueen
Consultative Department Manager
Bachelor degree of tourism management, Capital University of Economics
Nanyang technological university of Singapore, MBA.
Used to work for DHL and Microsoft.
6 years advanced immigration bill consulting experience, good at Australia, New Zealand difficult case consultation..
                </p>
            </div>
        </div>

        <div class="tile is-parent detail-place" id="detail-4">
            <div class="tile is-child">
                <img src="/static/imgs/r4.jpg" alt="">
                <div class="info">
                    <p class="name">Cici</p>
                    <ul class="contact-info">
                        <li>
                            <img src="/static/imgs/mail.png" alt="">
                            <a href="mailto:newsight@newsightgreaterchina.com">newsight@newsightgreaterchina.com</a>
                        </li>
                        <li>
                            <img src="/static/imgs/cc-phone-handset.png">
                            <a href="tel:4006197935">Mobile 400 619 7935</a>
                        </li>
                    </ul>
                    <p class="job">新景•大中华区•法案部经理</p>
                </div>
            </div>
            <div class="tile is-child">
                <p>
                    加拿大布鲁克大学工商管理专业学士；
曾就职于 NEWSIGHT多伦多公司；
擅长加拿大、澳大利亚和新西兰移民法案咨询。
                </p>
            </div>
            <div class="tile is-child">
                <p>
                    Steven
Senior Act Advisory
Bachelor degree of business administration, Brock University,Canada.
Used to work at NEWSIGHT Toronto .
good at Canada, Australia and New Zealand immigration bill advisory.
                </p>
            </div>
        </div>

        <div class="tile is-parent detail-place" id="detail-5">
            <div class="tile is-child">
                <img src="/static/imgs/r5.jpg" alt="">
                <div class="info">
                    <p class="name">Cici</p>
                    <ul class="contact-info">
                        <li>
                            <img src="/static/imgs/mail.png" alt="">
                            <a href="mailto:newsight@newsightgreaterchina.com">newsight@newsightgreaterchina.com</a>
                        </li>
                        <li>
                            <img src="/static/imgs/cc-phone-handset.png">
                            <a href="tel:4006197935">Mobile 400 619 7935</a>
                        </li>
                    </ul>
                    <p class="job">新景•大中华区•法案部经理</p>
                </div>
            </div>
            <div class="tile is-child">
                <p>
                    新加坡淡马锡理工大学会计专业学士；
新西兰奥克兰理工大学酒店管理专业硕士；
曾就职于飞尚实业、Sierra Coffee；
5年高级法案咨询经验，擅长澳大利亚、新西兰移民法案咨询。
                </p>
            </div>
            <div class="tile is-child">
                <p>
                    Jason Yoe
Senior Act Advisory
Bachelor degree of accounting, Temasek Polytechnic.
Master degree of Hotel Management, Auckland University of Technology.
Used to work for Feishang industry and Sierra Coffee.
5 years advanced bill consulting experience, good at Australia, New Zealand immigration bill consultation.
                </p>
            </div>
        </div>

        <div class="tile is-parent detail-place" id="detail-6">
            <div class="tile is-child">
                <img src="/static/imgs/r7.jpg" alt="">
                <div class="info">
                    <p class="name">Cici</p>
                    <ul class="contact-info">
                        <li>
                            <img src="/static/imgs/mail.png" alt="">
                            <a href="mailto:newsight@newsightgreaterchina.com">newsight@newsightgreaterchina.com</a>
                        </li>
                        <li>
                            <img src="/static/imgs/cc-phone-handset.png">
                            <a href="tel:4006197935">Mobile 400 619 7935</a>
                        </li>
                    </ul>
                    <p class="job">新景•大中华区•法案部经理</p>
                </div>
            </div>
            <div class="tile is-child">
                <p>
                    集美大学土木工程专业学士；
新加坡南洋理工大学MBA；
曾就职于中国建筑、Vanke；
11年高级职业经理人从业经验，擅长加拿大、美国移民法案咨询。
                </p>
            </div>
            <div class="tile is-child">
                <p>
                    Brent
Executive Director
Bachelor degree of civil engineering, JiMei University.
Nanyang Technological University of Singapore, MBA.
Used to work for China State Construction Engineering Corporation and Vanke.
11 years senior professional manager experience, good at Canada, the US immigration bill advice.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
            $(".detail-place").hide();
            $("#detail-1").show();
            $(".is-child a").click(function(){
                $(".detail-place").hide();
                $($(this).attr("href")).show();
            });
    //锚点跳转滑动效果
            $('a[href*=#],area[href*=#]').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var $target = $(this.hash);
                    $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
                    if ($target.length) {
                        var targetOffset = $target.offset().top;
                        $('html,body').animate({
                                    scrollTop: targetOffset
                                },
                                1000);
                        return false;
                    }
                }
            });


{% endblock %}
