{% extends 'base.html' %}
{% block title %}咨询专家{% endblock %}
{% block image %}people.jpg{% endblock %}
{% block pagename %}咨询专家{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/expert.css">
{% endblock %}
{% block main %}
    <div class="tile is-ancestor">
        <div class="tile is-parent photo-place">
            <div class="tile is-child">
                <div class="hover animated fadeIn wow" data-wow-duration="0.5s"></div>
                <img src="/static/imgs/r1.jpg" alt="">
            </div>

            <div class="tile is-child">
                <div class="hover animated fadeIn wow">
                    老王
                </div>
                <img src="/static/imgs/r2.jpg" alt="">
            </div>

            <div class="tile is-child">
                <div class="hover animated fadeIn wow"></div>
                <img src="/static/imgs/r3.jpg" alt="">
            </div>

            <div class="tile is-child">
                <div class="hover animated fadeIn wow"></div>
                <img src="/static/imgs/r4.jpg" alt="">
            </div>

            <div class="tile is-child">
                <div class="hover animated fadeIn wow"></div>
                <img src="/static/imgs/r5.jpg" alt="">
            </div>

            <div class="tile is-child">
                <div class="hover animated fadeIn wow"></div>
                <img src="/static/imgs/r7.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}
