{% extends 'base.html' %}
{% block title %}新西兰项目知悉{% endblock %}
{% block pagename %}新西兰项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">新西兰创业移民项目咨询</a>
          </p>
          <div class="panel-block">
            <p class="control">
                  新西兰创业移民是新西兰政府旨在创造内需，拉动经济增长，给当地增加税收和就业机会的移民项目。该项目适合有一定企业管理能力的职场高管或小型企业业主。<br><br>

项目优势<br>
&nbsp;&nbsp;&nbsp;&nbsp;★审批速度快；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★语言要求低；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★全家获签入境，包括配偶及未独立在读子女；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★享受新西兰健全的社会福利及医疗保障。<br><br>

详情咨询，请致电400 6197935，或给我们留言，我们会尽快回复您。
            </p>
          </div>
        </nav>

        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">新西兰二类投资移民项目咨询</a>
          </p>
          <div class="panel-block">
            <p class="control">
                  新西兰二类投资移民是新西兰政府为成功的海外人士提供的快捷移民通道。<br><br>

项目优势：<br>
&nbsp;&nbsp;&nbsp;&nbsp;★全家获签入境，包括配偶及未独立在读子女；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★投资金额灵活，申请流程简单；<br>
&nbsp;&nbsp;&nbsp;&nbsp;★获得新西兰永居身份后无移民监要求。<br><br>

具体详情，请致电400 6197935，或给我们留言，我们会尽快回复您。
            </p>
          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}