{% extends 'base.html' %}
{% block title %}新西兰项目知悉{% endblock %}
{% block pagename %}新西兰项目知悉{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/immi.css">
{% endblock %}
{% block main %}
    <article>
        <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">新西兰创业移民项目</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                  新西兰作为传统的移民国家，早在上世纪就引入投资移民政策，并且逐渐完善和不断调整，为现有的移民政策奠定了良好的基础。新西兰创业移民项目是新西兰政府在 2010 年 11 月设立的，其目的是鼓励有一定英语基础能力，并同时有一定经商管理经验的海外企业精英或企业老板，来新西兰进行创业投资，再通过一定的考察期后，给申请人及其家人签发永久居留签证的移民项目。
                <br>
<span class="red_span">项目申请条件：</span>
                <br>
                <div class="condition">
                1.年龄：适宜29-49周岁
                                    <br>
                2.雅思：G类4分及以上
                                    <br>
                3.经商经验：3年以上经商经验（5年以上经商经验为宜）
                                    <br>
                4.EOI打分：总分120及分以上
                                    <br>
                5.Business Plan/Financial Forecast
                                    <br>
                6.通常给新西兰当地公民或居民创造至少3个及以上的工作机会
                                    <br>
                7.投资额度：10-49万纽币或50万及以上纽币
                </div>
                                <br>
                <span class="red_span">项目优势：</span>
                                <div class="advantage">
                1.审批速度快；
                                    <br>
                2.语言要求低；
                                    <br>
                3.全家获签入境，包括配偶及未独立在读子女；
                                    <br>
                4.享受新西兰健全的社会福利及医疗保障。
                </div>
            </div>
          </div>
        </nav>

    <nav class="panel">
          <p class="panel-heading">
              <a href="javascript: void(0)">新西兰投资移民</a>
          </p>
          <div class="panel-block">
            <div class="control is-vertical">
                  新西兰投资移民项目的总体原则是，鼓励申请人投资新西兰，为该国经济发展做出贡献。政府认可的投资领域包括：国债、企业债券、股票、基金、企业投资、商业楼宇投资等；政府不认可的投资领域是：个人消费、银行储蓄、炒外汇、买住宅物业等。适合有一定从商经验的新兴富裕阶层。
                <br>
<span class="red_span">申请条件（Ⅰ类）</span>
                <div class="condition">
1、投资不少于1000万纽币到新西兰；
                    <br>
2、投资资金至少达到三年时间，主申请人在投资3年中的最后2年每年住满44天；
                    <br>
3、无需经商管理经验；
                    <br>
4、对年龄和语言没有限制；
                    <br>
5、申请人满足健康及品行的要求；
                    </div>
                <br>

<span class="red_span">申请条件（Ⅱ类）</span>
                <div class="condition">
1、年龄65周岁以下；
                    <br>
2、至少3年以上的经商经验，
                    <br>
3、投资不少于300万纽币到新西兰；
                    <br>
4、投资资金至少达到四年时间，主申请人在投资4年中的最后3年每年住满146天；
                    <br>
5、主申请人雅思成绩3分或以上；
                    <br>
6、申请人满足健康及品行的要求
                    </div>

<span class="red_span">项目优势：</span>
                <br>
                <div class="advantage">
1.新西兰在所有发达国家中是唯一没有资本增值税、没有房产买卖印花税和契税的国家，是真正的投资天堂。
                    <br>
                    2.新西兰投资移民政策只要求主申请人在新西兰居住一定期限，配偶和子女没有居住要求。
                    <br>
                    3.申请人投资期满，并符合居住条件，就可以换成永久回头签证，以后无移民监。
                    <br>
                    4.新西兰环境优美，社会福利制度完善。获得绿卡后全家可立即享受完善的医疗保障和社会福利。子女可立即享受免费教育。
                    <br>
                    5.获得绿卡在新西兰5年中住满1350天，每年居住不少于240天，即可申请入籍。
                    <br>
                    6.持新西兰护照到包括美国,加拿大,日本,欧盟国家在内的一百多个国家免签证。
                    <br>
                    7.新西兰公民可以自由到澳大利亚生活、定居、学习或做生意，并同时享受澳洲人的绝大多数福利。
</div>

            </div>
          </div>
        </nav>
    </article>
{% endblock %}

{% block scriptSrc %}
    <script src="/static/js/immi.js" charset="utf-8"></script>
{% endblock %}